ex.I/wsdl/recordsManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:rms="http://www.eXcriba.cu/recordsManagementService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="recordsManagementService" targetNamespace="http://www.eXcriba.cu/recordsManagementService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eXcriba.cu/recordsManagementService/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="rms:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="rms:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="recordsManagementService">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="rms:NewOperationRequest"/>
      <wsdl:output message="rms:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="recordsManagementServiceSOAP" type="rms:recordsManagementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.eXcriba.cu/recordsManagementService/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="recordsManagementService">
    <wsdl:port binding="rms:recordsManagementServiceSOAP" name="recordsManagementServiceSOAP">
      <soap:address location="http://localhost:8080/axis2/services/SimpleService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
